In [1]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel(r'D:\pythontest\confirmed-cases-since-120864.xlsx')
df = pd.DataFrame(df)

In [3]:
df.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN

In [16]:
df.describe()

                 age
count  962171.000000
mean       35.258596
std        18.532412
min         0.130000
25%        22.000000
50%        34.000000
75%        48.000000
max       119.000000

drop column

In [12]:
df = df.drop(['No.','announce_date','Notified date','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset'],axis=1)

In [13]:
df.head()

    sex   age
0   ชาย   7.0
1   ชาย   1.0
2   ชาย  35.0
3  หญิง  33.0
4  หญิง  14.0

In [15]:
count_male = 0
count_female = 0
for gender in (df['sex']):
    if gender == 'ชาย':
        count_male+=1
    
    elif gender == 'หญิง':
        count_female+=1
        
print("The number of male is = ",count_male)
print("The number of female is = ",count_female)

The number of male is =  478004
The number of female is =  516452

In [17]:
df['sex'].isnull().sum()

47705