In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
file = pd.read_excel(r'D:\pythontest\customer-churn-data.xlsx')
file = pd.DataFrame(file)

d:\pythontest\.venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [23]:
file.head()

   Gender  Age Payment Method  Churn  LastTransaction
0    male   64    credit card  loyal               98
1    male   35         cheque  churn              118
2  female   25    credit card  loyal              107
3  female   39    credit card    NaN              177
4    male   39    credit card  loyal               90

In [32]:
file.isnull().sum()
# file.isna().sum()

Gender              0
Age                 0
Payment Method      0
Churn              96
LastTransaction     0
dtype: int64

Identify the range of customer

In [40]:
#churn
file_churn = file[file['Churn'] == 'churn']

In [48]:
file_churn.head()

    Gender  Age Payment Method  Churn  LastTransaction
1     male   35         cheque  churn              118
5   female   28         cheque  churn              118
8   female   70    credit card  churn              118
14  female   49    credit card  churn              118
15  female   24           cash  churn              118

In [49]:
file_churn['LastTransaction'] == 118

1      True
5      True
8      True
14     True
15     True
       ...
968    True
972    True
976    True
981    True
985    True
Name: LastTransaction, Length: 322, dtype: bool