In [1]:
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

input the number of city

In [2]:
#number of the city
n = int(input("Enter the number of city:"))
print(n)

5

In [3]:
cities = []
for i in range (n):
    i+=1
    # city.insert('x'+str(n),0)
    print('x'+str(i))
    cities.insert(i,'x'+str(i))
print(cities)

x1
x2
x3
x4
x5
['x1', 'x2', 'x3', 'x4', 'x5']

Encoding the initial solution and Check the duplicate number of initial solution

In [10]:
def generate_unique_random_list(size, min_value, max_value):
    numbers = []
    while len(numbers) < size:
        num = random.randint(min_value, max_value)
        if num not in numbers:
            numbers.append(num)
    return numbers

# Define the parameters
size = 5
min_value = 1
max_value = 5

# Generate the unique random list
initial_solution = generate_unique_random_list(size, min_value, max_value)

print("The initial solution is:", initial_solution)

The initial solution is: [2, 1, 3, 4, 5]

In [11]:
cities

['x1', 'x2', 'x3', 'x4', 'x5']

In [12]:
initial_encode = zip(cities,initial_solution)

In [13]:
print(initial_encode)

<zip object at 0x000001D58CE7DDC0>

In [14]:
initial_encode = pd.DataFrame(initial_encode)

In [15]:
initial_encode.head()

    0  1
0  x1  2
1  x2  1
2  x3  3
3  x4  4
4  x5  5

Evaluation the initial solution

In [16]:
df = pd.read_excel(r'D:\pythontest\atsp.xlsx')

In [17]:
df

  from/to  city1  city2  city3  city4  city5
0   city1      0      4      7      9     12
1   city2      3      0      8     12     15
2   city3      7      9      0     17     12
3   city4      8     12     13      0     16
4   city5     12      6     15     18      0